// Reset file for standardizing the page
// @import "globals/_reset";

// Base file contains all the global styles
@import "globals/_base";

// File for global Uranium stylings
@import "globals/_uranium.scss";

// Site wide variables
@import "globals/_variables.scss";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";
@import "pages/_nomination_process";
@import "pages/_approvals";

html,body {
  padding: 0px;
  margin: 0px;
}
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
 
.clearfix {
  display: inline-block;
}
 
html[xmlns] .clearfix {
  display: block;
}
 
* html .clearfix {
  height: 1%;
}

.hidden {
  display: none;
}